@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

.contain{
    display: flex;
    gap: 1em;
    min-height: 100vh;
}
.Left-display{
    
    width: 30%;
    height: 60vh;
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("../../Assets/ProfileIcon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.Right-display{
    color: white;
    margin-top: 20px;
    width: 60%;
    height: 90vh;    
    background-color: #E6B510;
    padding: 20px;
    font-family:  cursive;
}
.Right-display h2{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}

.Right-display h2:hover{
    color: #F06F11;
}

.details div{
    /* border-bottom: 1px solid white; */
    margin-bottom: 40px;
  
     /* justify-content: space-around; */
    
}

.det-1 div:hover{
    color: #F06F11;
}
.det-1 div{
 font-size: 20px;
 
}
.det-2 div{
    margin-top: 5px;
}

.details-container{
    display: flex;
    gap: 50px;
}

 .info{

   margin-left: 50px; 
} 

