.search {
    /* display: flex; */
    min-height: 37vh;
    min-width: 20vw;
    
    
    

}


.searchInputs{
    margin-top: 10px;
    display: flex;
    
   
}

.search input{
    background-color: white;
    border: 0;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 35px;
    width: 250px;
    
}

.searchIcon{
    height: 35px;
    width: 50px;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: gray;
    display: grid;
    place-items: center;
    /* position: relative;
    top: 1px;
    border: none; */
}

input:focus{
    outline: none;
}

.searchIcon svg{
    font-size: 35px;
}

.dataResult{
    margin-top: 2px;
    width: 250px;
    height: 150px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    
    
}

.dataResult::-webkit-scrollbar{
    display: none;
}

.dataResult .dataItem{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
}

.dataItem p{
    margin-left: 10px;
}
a{
    text-decoration: none;
}

a:hover{
    background-color: lightgray;
}

#clearBtn{
    cursor: pointer;
}