.below_nav{
    min-height: 65vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Assets/VL.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    overflow: hidden;
}

.searchb{
    display: flex;
    justify-content:space-around;
}

@media screen and (max-width: 600px) {
    .progcard{
        /* margin: 0; */
        /* padding: 0; */
        position: relative;
        left: -40px;
        

    }
        
    
}




  
        
