.below_nav{
    min-height: 65vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../Assets/VL.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    
}

.searchb{
    display: flex;
    justify-content:space-around;
}



  
        
