body.active-modall{
    overflow-y:hidden ;
}

.button-modal{
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
    border-radius: 20px;
}

.button-modal:hover{
    background-color: rgb(248, 39, 39);
}

.modall,.overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}


.overlay{
    background: rgb(49,49,49,0.8);
}

.modall-content{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.4;
    background: white;
    padding: 14px 15px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    font-family:'Poppins';
    /* font-size: small; */

}

.close-modalll{
    position: absolute;
    bottom: 16px;
    right: 20px;
    margin-top: 15px;
    width: 80px;
    border-radius: 20px;
    height: 40px;
    font-family: Poppins;
}

.close-modalll:hover{
    background-color: rgb(248, 39, 39);
}
.close-modall:hover{
    background-color: grey;
}

.close-modall{
    position: absolute;
    bottom: 16px;
    right: 100px;
    margin-top: 15px;
    width: 80px;
    box-shadow: 80%;
    border-radius: 20px;
    height: 40px;
    font-family: 'Poppins';
}
.modall-content h3{
    font-family: 'Poppins';
    font-size: 50;
}
.modall-content h2{
    font-size: 50;
    height: 15px;
    color: red;
    font-family: 'Poppins';
}

.pict{
    background-image: url("../Assets/picture.jpg");
    background-size:contain ;
    height: 30px;
    width: 30px; 
    margin-top: 5px;
    background-repeat: no-repeat;
}

.topic{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    justify-content: center;
}
