
.below_navs{
    display: flex;
    min-height: 52vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
       
}

.below_navs h1{
    font-family: 'Poppins'; 
}

select{
    width: 230px;
    padding: 15px;
    padding-left: 10px;
    font-size: 30px;
    letter-spacing: 5px;
    color: black;
    display: block;
    margin: 5px auto 10px auto;
    transition: ease-in-out 0.3s;
}


.folders{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
}

.links a {
    text-decoration: none;
}


