.settings-body{
    background:linear-gradient(to right, black,white);
    /* overflow: hidden; */
    box-sizing: border-box;
    display: flex;
}

.settings-container{
    background:linear-gradient(to right, white,black);
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 2px 5px 20px rgba(119,119,119,0.5);
    margin-bottom: 20px;
}

.settings-logo{
 float: right;
 margin-right:12px ;
 margin-top: 12px;
 font-family:"Poppins";
 color:gray;
 font-weight: 900;
 font-size: 30px;
 letter-spacing: 1px;
 font-display: center;
 margin-right: 35%;

}

.leftbox{
    float: left;
    width: 13%;
    height: 100%;
    background: white;
    box-shadow: 3px 3px 10px rgba(119,119,119,0.5);
   
}


.active{
 color: #3fb6a8;    
}


.setting{
    padding-top:15px;
    margin-left: 5px;
}

.h11{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 35px;
    text-align: center;
}


.h12{
    /* color: rgb(207, 207, 24); */
    color: slategrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 2px;
    
}

.answer{
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right,#3fb6a8,rgba(126,211,134,0.5)) 10% ;
    border-top: 0;
    margin-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    padding: 7px 0;
    color: black;
    white-space: normal;
    word-break: break-all;  
}

.btns{
    font-family: "Roberto", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    color: #3fb6a8;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
   
}

.btns:hover{
    text-decoration: underline;
    font-weight: 900;   
}


.eye-btns{
    background: transparent;
    outline: none;
    border: none;
    color: rgb(207, 207, 24);
    float: right;
    padding-right: 10px;
}

.setting input{
    width: 76.5vw;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    white-space: normal;
    padding-left: 10px;
    /* word-break: break-all; */
 }
